<article class="media">
  <div class="media-content">
    <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story) , class: "has-text-grey-darker" %></h2>
    <p class="content"><%= story.content %></p>
    <footer>
      <p><%= link_to story.user.username, user_page_path(story.user.username), class: "has-text-grey-darker" %></p>
      <p class="has-text-grey"><%= story.created_at.strftime("%b %d,%Y") %></p>
    </footer>
  </div>
  <figure class="media-right">
    <% if story.cover_image.attached? %>
      <%= cover_image(story, 150) %>
    <% else %>
    <img src="https://picsum.photos/150/150" alt="">
    <% end %> 
  </figure>
</article>