<section class="columns has-text-centered story-content">
  <section class="column is-offset-3 is-6">
    <h1 class="title"><%= @story.title %></h1>

    <span class="profile">

      <%= image_tag @story.user.avatar.variant(resize: "50x50"), class: "avatar" if @story.user.avatar.attached? %>
      <span class="column">
        <div class="row">
          <span class="username"><%= link_to @story.user.username, user_page_path(@story.user.username), class: "has-text-dark"  %></span>
          <%= link_to "Follow", '#',class: "follow-button" %>
        </div>
        <div class="row">
          <%= @story.created_at.strftime("%b %d, %Y") %>
        </div>
   
      </span>
    </span>

    <article class="content">
      <%= image_tag @story.cover_image.variant(resize: "1000x500"), class: "cover-image" if @story.cover_image.attached? %>
      <p><%= simple_format(@story.content) %></p>

      <footer>
        <%= link_to "#", class: "clapButton has-text-primary" do %>
        <i class="fas fa-thumbs-up fa-3x"></i>
        <span class="is-size-1 clapCount">0</span>
        <% end %>
   
 
      </footer>
    </article>
    <hr>
    <section class="comments">
      <h2>留言</h2>
      <%= render "comment_area", story: @story, comment: @comment %>
      <section class="comment-list">
         <%= render  partial: "comment", collection: @comments %>
      </section>
    </section>
  </section>
</section>